.community {
  &__socials {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;

    &-item {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      background-color: var(--secondary-control-color-40);
      border-radius: 4px;
      flex-grow: 1;
      height: 256px;
      max-width: 408px;

      img {
        height: 72px;
        width: 72px;
      }

      .button {
        width: 128px;
      }
    }
  }

  @media screen and (max-width: 375px) {
    &__socials {
      &-item {
        height: 180px;

        img {
          height: 56px;
          width: 56px;
        }

        .button {
          width: 92px;

          .button__inner {
            padding: 6px 16px;
          }
        }
      }
    }
  }
}
