.hero {
  &__text {
    text-align: left;
    color: var(--text-color-100);
  }

  &__description {
    margin: 36px 0;
  }

  &__banner {
    padding: 42px 0 89px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &-left {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-img {
    img {
      mix-blend-mode: multiply;
    }
  }

  @media screen and (max-width: 996px) {
    &-img {
      display: none;
    }
  }
}
