.hero {
  &__text {
    text-align: left;
    color: var(--text-color-100);
  }

  &__description {
    margin: 36px 0;
  }

  &__banner {
    padding: var(--landing-block-padding) 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .twitterIcon {
    float: left;
    margin-top: 1px;
    margin-left: -10px;
    margin-right: 10px;
    width: 22px;
    height: 22px;
  }  
}
