.how-it-works {
  &.section {
    padding-top: 185px;
    padding-bottom: 80px;
  }

  &__list {
    margin-top: -18px;
  }

  &__img-desktop {
    width: 100%;
    position: relative;
    bottom: 55px;
  }

  &__img-mobile {
    display: none;
    margin-top: 70px;
  }

  @media screen and (max-width: 996px) {
    &.section {
      padding: var(--landing-block-padding) 0;
    }

    &__img-desktop {
      bottom: 0;
      top: 40px;
    }
  }

  @media screen and (max-width: 425px) {
    &__img-desktop {
      display: none;
    }

    &__img-mobile {
      display: block;
    }
  }
}
