.how-it-works {
  &-telegram-icon {
    float: left;
    margin-top: 1px;
    margin-left: -10px;
    margin-right: 10px;
    width: 22px;
    height: 22px;
  }

  &-list {
    margin-bottom: 24px;
  }

  @media screen and (max-width: 996px) {
    &-img {
      display: none;
    }
  }
}
