.section {
  padding: var(--landing-block-padding) 0;

  &-title {
    margin-bottom: 36px;
  }

  &-text {
    margin-bottom: 48px;
  }

  &__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 982px;
    min-width: min-content;
    margin: 0 auto;

    > * {
      text-align: center;
    }

    &-img {
      margin-bottom: 48px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 24px;
    }
  }

  &__yellow {
    background-color: var(--primary-cta-color-80);
  }

  &__grey {
    background-color: var(--neutral-control-layer-color-10);
  }

  &__dark {
    background-color: var(--dark-background-color);
    --ifm-heading-color: var(--text-color-00);

    > * {
      color: var(--text-color-00);
    }
  }

  .highlight {
    background-color: var(--primary-cta-color-80);
    color: var(--secondary-control-layer-color-60);
    padding: 3px 14px;
    border-radius: 2px;
    margin-bottom: 18px;
    display: block;
    width: max-content;
  }

  a {
    .arrow-right {
      border: solid var(--ifm-link-color);
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 2px;
      margin-bottom: 1px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }

  .yellow {
    color: var(--primary-cta-color-80);
  }

  .grey {
    color: var(--text-color-10);
  }

  .mb-12 {
    margin-bottom: 12px;
  }

  .mb-24 {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 966px) {
  .section {
    &__center {
      width: 100%;

      &-img {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 18px;
      }
    }
  }
}

@media screen and (min-width: 426px) and (max-width: 996px) {
  .section {
    &__main-img {
      width: 600px;
    }
  }
}
