.tokenomics {
  padding-top: 25px;
  padding-bottom: 58px;

  h4 {
    margin: 18px 0 24px;
  }

  &__utilities-list {
    list-style-type: square;
    margin: 20px 0;
  }

  &__pie-chart {
    position: relative;

    img {
      position: absolute;
      bottom: 12px;
    }

    &--total-supply {
      text-align: center;
      position: absolute;
      top: 46%;
      left: 100px;
    }

    &--item {
      position: absolute;
      right: 60px;

      &--first {
        top: -33px;
      }

      &--second {
        top: 84px;
      }

      &--third {
        bottom: 57px;
      }

      &--fourth {
        bottom: -61px;
      }

      p {
        margin-bottom: 5px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--secondary-control-color-90);
        top: 9px;
        left: -36px;
      }
    }
  }

  .button {
    margin-top: 36px;
    width: 198px;
  }

  @media screen and (min-width: 1160px) and (max-width: 1439px) {
    &__pie-chart {
      img {
        bottom: 72px;
        width: 58%;
      }

      &--total-supply {
        top: 50%;
        left: 80px;
      }

      &--item {
        right: 30px;

        &--first {
          top: 59px;
        }

        &--second {
          top: 162px;
        }

        &--third {
          bottom: 102px;
        }

        &--fourth {
          bottom: -2px;
        }
      }
    }
  }

  @media screen and (max-width: 1160px) {
    padding-top: 0;
    padding-bottom: 0;

    &__pie-chart {
      display: none;
    }
  }
}
