.tokenomics {
  padding-top: 25px;

  h4 {
    margin-bottom: 34px;
  }

  &__img-desktop {
    position: relative;
    bottom: 47px;
  }

  &__img-mobile {
    display: none;
  }

  &__utilities-list {
    margin: 20px 0;
  }

  .button {
    margin-top: 36px;
  }

  @media screen and (max-width: 1440px) {
    &__img-desktop {
      bottom: -55px;
    }
  }

  @media screen and (max-width: 996px) {
    padding-top: 0;
  }

  @media screen and (max-width: 425px) {
    &__img-desktop {
      display: none;
    }

    &__img-mobile {
      display: block;
      margin-top: 40px;
    }
  }
}
