.section {
  padding: var(--landing-block-padding) 0;

  &-title {
    margin-bottom: 36px;
  }

  &-text {
    margin-bottom: 48px;
  }

  &__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 982px;
    min-width: min-content;
    margin: 0 auto;

    > * {
      text-align: center;
    }

    &-img {
      margin-bottom: 48px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 24px;
    }
  }

  &__yellow {
    background-color: var(--primary-cta-color-80);
  }
}

@media screen and (max-width: 966px) {
  .section {
    &__center {
      width: 100%;

      &-img {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 18px;
      }
    }
  }
}
