.section {
  padding: var(--landing-block-padding) 0;

  &-title {
    margin-bottom: 36px;
  }

  &-text {
    margin-bottom: 48px;
  }

  &__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 928px;
    min-width: min-content;
    margin: 0 auto;

    > * {
      text-align: center;
    }

    &-img {
      margin-bottom: 48px;

      img:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

  &__yellow {
    background-color: var(--primary-cta-color-80);
  }
}

@media screen and (max-width: 966px) {
  .section {
    &__center {
      width: 100%;

      &-img {
        img {
          margin-right: 0 !important;
        }
      }
    }
  }
}
